body{
    background-image: url("../images/back.jpg");
}
a{
    text-decoration: none;
}
.flex_menu{
    display: flex;
    justify-content: flex-end;
}
.menu_item{
    margin: 2.5% 1% 2% 0;
    font-size: 250%;
    font-weight: bold;
}
/*h1{
    font-size: 250%;
}*/
p{
    color: midnightblue;
    font-size: 200%;
}
/*header a{
    display: inline-block;
    margin-right: 1%;
}*/
.photo{
    margin-top: 11%;
    float: left;
    width: 35%;
}
.name{
    text-align: center;
}
.pad{
    padding: 30px;
}
.about{
    float: left;
    width: 30%;
}
.liked{
    float: right;
    width: 25%;
}
.title{
    width: 50%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.titleAd{
    display: none;
}
.titles{
    display: flex;
    width: 100%;
}
.flex{
    display: flex;
    width: 50%;
}
.item{
    height: 350px;
    width: 25%;
    transition: flex 300ms ease;
}
.item:hover {
    flex: 0.1 0.1 45%;
}
.text{
    text-align: center;
}
.img{
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
    background-image: url(../images/Alisa.png);
}
.img2{
    background-image: url(../images/Maks.png);
}
.img3{
    background-image: url(../images/Yolka.png);
}
.img4{
    background-image: url(../images/Lulu.png);
}
.parts{
    width: 100%;
}
.part{
    position: relative;
    left: 50%;
    width: 50%;
    height: 50px;
    bottom: 350px;
}
.grid{
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.icon{
    height: 176px;
    width: 50%;
}
.icn{
    height: 85%;
    background-repeat: no-repeat;
    background-size: contain;
}
.right{
    position: relative;
    left: 50%;
}
.icn1{
    background-image: url(../images/icons/alis.jpg);
}
.icn2{
    background-image: url(../images/icons/yoll.jpg);
}
.icn3{
    background-image: url(../images/icons/lulu.jpg);
}
.icn4{
    background-image: url(../images/icons/lulu2.jpg);
}

@media screen and (max-width: 811px){ /*Экран iPad 810x1080*/
    p{
        color: midnightblue;
        font-size: 100%;
    }
    .icn{
        height: 75%;
        margin: 2%;
    }
    .flex{
        width: 100%;
    }
    .part{
        position: unset;
        width: 100%;
    }
   .titles{
       display: none;
   }
   .titleAd{
       display: block;
       width: 100%;
       padding-top: 1%;
       padding-bottom: 0.5%;
       text-align: center;
       font-weight: bold;
       font-size: x-large;
   }
    .first_title{
        margin-top: 55%;
    }
    .photo{
        margin-top: 4%;
        float: none;
        width: 100%;
    }
    .about{
        float: left;
        width: 38%;
    }
    .liked{
        float: right;
        width: 35%;
    }
}
@media screen and (max-width: 413px){ /* Экран Galaxy S20 (Ultra) Linux 360x800 (412*915) */
    .menu_item{
        font-size: 100%;
    }
    .name{
        font-size: 150%;
    }
    .pad{
        padding: 0px;
    }
    .about{
        float: none;
        width: 100%;
    }
    .liked{
        float: none;
        width: 100%;
    }
    .first_title{
        margin-top: 0%;
    }
    .titleAd{
        font-size: 120%;
    }
    .item:hover {
        flex: 0.1 0.1 100%;
    }
    .icn{
        height: 45%;
    }
    .icon{
        height: 130px;
    }
}