body{
    background-image: url("../images/back.jpg");
}
.myTable tr td{
    border: 1px solid gray;
    border-collapse: collapse;
}
.myTable{
    padding: 1%;
    margin: auto;
    width: 70%;
}
caption{
    font-size: 250%;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.flex_menu{
    display: flex;
    justify-content: flex-end;
}
.menu_item{
    margin: 2.5% 1% 2% 0;
    font-size: 250%;
    font-weight: bold;
}
/*header a{
    display: inline-block;
    margin-right: 1%;
}*/
.leftPart a{
    font-weight: bold;
    color: black;
    font-size: 200%;
    text-decoration: none
}
.rightPart a{
    font-weight: bold;
    color: black;
    font-size: 200%;
    text-decoration: none
}
p{
    margin-top: 16%;
    font-weight: bold;
}
/*h1{
    font-size: 250%;
}*/
.num{
    font-weight: bold;
}
.leftPart{
    float: left;
    width: 50%;
}
.rightPart{
    text-align: right;
    float: right;
    width: 50%;
}
td{
    background-color: #f6e235;
}
.td2{
    background-color: #96cedc;
}
@media screen and (max-width: 1500px){ /*Универсальный размер экрана для масштабирования таблицы*/
    .menu_item{
        font-size: 100%;
    }
    caption{
        font-size: 120%;
    }
    .myTable{
        width: 500px;
    }
    p{
        margin-top: 40%;
        font-weight: bold;
    }
}